<div [class]="extra() + ' relative flex'">
	<input
		[type]="inputType()"
		[placeholder]="placeholder()"
		[formField]="field"
		[class]="'peer flex-1 w-full input-h pl-7
		placeholder-mid
		border-y-2 border-t-transparent
		base-rounded
		color-transition ' + (invalid() ? 'border-b-error' : 'border-b-mid focus:border-b-cta')"
		autocomplete="off"
	/>

	<div
		[class]="'absolute left-0 top-1/2 -translate-y-[50%]
		color-transition ' + (invalid() ? 'text-error' : 'text-mid peer-focus:text-cta')"
	>
		<svg [lucideIcon]="icon()"></svg>
	</div>

	@if (type() === "password") {
		<button
			type="button"
			(mousedown)="$event.preventDefault()"
			(click)="toggleObscured()"
			[class]="'absolute right-0 top-1/2 -translate-y-[50%]
			cursor-pointer color-transition ' + (invalid() ? 'text-error' : 'text-mid peer-focus:text-cta')"
		>
			<svg [lucideIcon]="passIcon()"></svg>
		</button>
	}
</div>
