<app-container popup>
	<div class="flex justify-between">
		<h1 class="font-semibold text-cta">
			{{ type() | dashToTitle }}
		</h1>

		<div class="flex gap-1">
			@if (type() === "view-account") {
				<app-button
					(onClick)="modify.emit()"
					p="p-1"
				>
					<svg lucidePencil class="w-6 h-6" strokeWidth="3"></svg>
				</app-button>
			}

			@if (type() === "modify-account") {
				<app-button
					(onClick)="showConfirmDelete.set(true)"
					p="p-1"
				>
					<svg lucideTrash2 class="w-6 h-6" strokeWidth="3"></svg>
				</app-button>
			}

			<app-button
				(onClick)="close.emit()"
				p="p-1"
			>
				<svg lucideX class="w-6 h-6" strokeWidth="3"></svg>
			</app-button>
		</div>
	</div>

	@if (type() === "new-account" || type() === "modify-account") {
		<form
			[formRoot]="accountForm"
			(submit)="formSubmit($event)"
			class="flex flex-col gap-3"
		>
			<app-text-input placeholder="Account Name*" [field]="accountForm.name()" />
			<app-text-input placeholder="Username" [field]="accountForm.username()" />
			<app-text-input type="email" placeholder="Email" [field]="accountForm.email()" />
			<div class="flex gap-2">
				<app-text-input type="password" placeholder="Password" notObscured [field]="accountForm.password()" />
				<app-button
					(onClick)="generatePassword()"
					p="px-3"
				>
					Generate
				</app-button>
			</div>
			<app-area-input placeholder="Notes" [field]="accountForm.notes()" />
			<div class="flex justify-between items-end">
				<div class="flex items-center gap-1">
					<app-select-input label="Category" [optionList]="possibleCategories()" [field]="accountForm.categoryName()" />
					<app-category-icon [category]="currentCategory()" simple />
				</div>
				<app-button type="submit">
					{{ "Confirm" }}
				</app-button>
			</div>
		</form>
	} @else {
		<div class="grid grid-cols-4 gap-y-2">
			<div class="flex items-center">Name:</div> <app-value>{{ currentAccount().name }}</app-value>
			<div class="flex items-center">Username:</div> <app-value>{{ currentAccount().username }}</app-value>
			<div class="flex items-center">Email:</div> <app-value>{{ currentAccount().email }}</app-value>
			<div class="flex items-center">Password:</div> <app-value>{{ currentAccount().password }}</app-value>
			<div class="col-span-4">
				<span>Notes:</span>
				<app-value multiline>{{ currentAccount().notes }}</app-value>
			</div>

			<div class="col-span-4 flex justify-center items-center">
				<app-category-record [category]="currentCategory()" />
			</div>
		</div>
	}
</app-container>

@if (showConfirmDelete()) {
	<app-confirm title="Delete Account?" [message]="`If you are sure type: 'I want to delete ${currentAccount().name} Account'.`" [checkText]="`I want to delete ${currentAccount().name} Account`" (close)="closeConfirmDelete($event)" />
}
