<app-container popup>
	<div class="flex justify-between gap-5">
		<h1 class="font-semibold text-cta">
			{{ type() | dashToTitle }}
		</h1>
		<div class="flex gap-1">
			@if (type() === "view-category") {
				<app-button
					(onClick)="modify.emit()"
					p="p-1"
				>
					<svg lucidePencil class="w-6 h-6" strokeWidth="3"></svg>
				</app-button>
			}

			@if (type() === "modify-category") {
				<app-button
					(onClick)="showConfirmDelete.set(true)"
					p="p-1"
				>
					<svg lucideTrash2 class="w-6 h-6" strokeWidth="3"></svg>
				</app-button>
			}

			<app-button
				(onClick)="close.emit()"
				p="p-1"
			>
				<svg lucideX class="w-6 h-6" strokeWidth="3"></svg>
			</app-button>
		</div>
	</div>

	@if (type() === "new-category" || type() === "modify-category") {
		<form
			[formRoot]="categoryForm"
			(submit)="formSubmit($event)"
			class="flex flex-col gap-3"
		>
			<app-text-input placeholder="Category Name*" [field]="categoryForm.name()" />

			<app-select-input label="Icon" [optionList]="possibleIcons" [field]="categoryForm.icon()" />

			<div class="flex gap-3">
				<app-color-input [field]="categoryForm.color()" />

				<app-button type="submit">
					{{ "Save" }}
				</app-button>
			</div>
		</form>
	} @else {
		<div class="grid grid-cols-4 gap-y-2">
			<span>Name:</span> <app-value>{{ currentCategory().name }}</app-value>
			<span>Icon:</span> <app-value>{{ currentCategory().icon }}</app-value>
			<span>Color:</span> <app-value [bgColor]="currentCategory().color">{{ currentCategory().color }}</app-value>
		</div>
	}
	<div>
		Preview:
		<app-category-record [category]="currentCategory()" />
	</div>
</app-container>

@if (showConfirmDelete()) {
	<app-confirm title="Delete Category?" [message]="`If you are sure type: 'I want to delete ${currentCategory().name} Category'`" [checkText]="`I want to delete ${currentCategory().name} Category`" (close)="closeConfirmDelete($event)" />
}
