<app-container popup>
	<div class="flex justify-between gap-5">
		<h1 class="font-semibold text-cta">
			{{ type() | dashtotitle }}
		</h1>
		<div class="flex gap-1">
			@if (type() === "view-category") {
				<app-button
					(onClick)="modify.emit()"
					p="p-1"
				>
					<svg lucidePencil class="w-6 h-6" strokeWidth="3"></svg>
				</app-button>
			}

			@if (type() === "modify-category") {
				<app-button
					(onClick)="delete.emit(currentCategory().id)"
					p="p-1"
				>
					<svg lucideTrash2 class="w-6 h-6" strokeWidth="3"></svg>
				</app-button>
			}

			<app-button
				(onClick)="close.emit()"
				p="p-1"
			>
				<svg lucideX class="w-6 h-6" strokeWidth="3"></svg>
			</app-button>
		</div>
	</div>

	@if (type() === "new-category" || type() === "modify-category") {
		<form
			[formGroup]="categoryForm"
			(ngSubmit)="formSubmit($event)"
			class="flex flex-col gap-3"
		>
			<app-text-input placeholder="Category Name" required formControlName="name" />

			<app-select-input label="Icon" [optionList]="possibleIcons" formControlName="icon" />

			<div class="flex gap-3">
				<div class="relative flex-1 input-h
					border-2 base-rounded border-pla
					color-transition
					has-[:focus]:border-cta"
					[style.background-color]="categoryFormValue().color"
				>
					<input
						type="color"
						formControlName="color"
						class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
					/>
				</div>


				<app-button type="submit">
					{{ "Save" }}
				</app-button>
			</div>
		</form>
	} @else {
		<div class="grid grid-cols-4 gap-y-2">
			<span>Name:</span> <app-value>{{ currentCategory().name }}</app-value>
			<span>Icon:</span> <app-value>{{ currentCategory().icon }}</app-value>
			<span>Color:</span> <app-value [bgColor]="currentCategory().color">{{ currentCategory().color }}</app-value>
		</div>
	}
	<div>
		Preview:
		<app-vault-category [category]="currentCategory()" />
	</div>
</app-container>
