@if (viewNewAccount()) {
<app-popup>
	<div class="flex justify-between">
		<h1 class="font-semibold text-cta">New Account</h1>
		<app-button
			(onClick)="closeNewAccount()"
			p="p-1"
		>
			<svg lucideX class="w-6 h-6" strokeWidth="3"></svg>
		</app-button>
	</div>

	<form
		[formGroup]="newAccountForm"
		(ngSubmit)="createNewAccount($event)"
		class="flex flex-col gap-3"
	>
		<app-text-input placeholder="Account Name" formControlName="name" required />
		<app-text-input placeholder="Username / Email" formControlName="username" required />

		<div class="flex gap-2">
			<app-text-input type="password" placeholder="Password" notObscured formControlName="password" required />
			<app-button
				(onClick)="generatePassword()"
				p="px-3"
			>
				Generate
			</app-button>
		</div>

		<app-area-input placeholder="Notes" formControlName="notes"/>

		<div class="flex justify-end">
			<app-button type="submit">
				{{ loading() ? "Loading..." : "Confirm" }}
			</app-button>
		</div>
	</form>
</app-popup>
}

@if (ready()) {
	@if (accounts().length > 0) {
		<section class="flex flex-col gap-5">

			<div class="flex justify-between">
				<h1>Accounts</h1>
				<app-button (onClick)="openNewAccount()" p="p-1">
					<svg lucidePlus class="w-6 h-6" strokeWidth="3"></svg>
				</app-button>
			</div>

			@for (acc of accounts(); track acc.name) {
				<app-vault-account [item]="acc"/>
			}
		</section>
	} @else {
		<app-empty msg="No Accounts">
			<app-button (onClick)="openNewAccount()">
				Create new Account
			</app-button>
		</app-empty>
	}
} @else {
	<app-loading msg="Finding your Accounts..." />
}
