@if (supabase.loading()) {
	<app-loading msg="Finding your Accounts..." />
} @else {
	@if (formData() === 'account') {
		<app-vault-form-account
			[type]="formType()"
			(modify)="modifyForm()"
			(close)="closeForm()"
			(delete)="deleteForm($event)"
			[accountId]="selectedAccountId()"
			/>
	} @else if (formData() === 'category') {
		<app-vault-form-category
			[type]="formType()"
			(modify)="modifyForm()"
			(close)="closeForm()"
			(delete)="deleteForm($event)"
			[categoryId]="selectedCategoryId()"
		/>
	}

	<div class="w-full h-full grid grid-cols-7 gap-10">
		<section class="col-span-5 flex flex-col gap-3">
			@if (supabase.accountsIds().length > 0) {
				<div class="pl-1 flex justify-between">
					<h1 class="pl-2 border-l-3 border-cta base-rounded">Accounts</h1>
					<app-button (onClick)="newAccountForm()" p="p-1">
						<svg lucidePlus class="w-6 h-6" strokeWidth="3"></svg>
					</app-button>
				</div>

				<form
					[formGroup]="searchForm"
					class="w-full p-3 bg-z1 container-rounded base-shadow flex gap-3
					border-2 border-cta/30"
				>
					<app-text-input type="search" placeholder="Search" extra="flex-2" formControlName="search" />
					<app-select-input [optionList]="possibleCategories()" extra="flex-1" formControlName="categoryName" />
					<!--
					<app-button type="submit" p="p-1">
						<svg lucideSearch class="w-6 h-6" strokeWidth="3"></svg>
					</app-button>
					-->
				</form>

				@for (accId of filteredAccountsIds(); track accId) {
					<app-vault-account
						[account]="supabase.accounts()[accId]"
						(onClick)="viewAccountForm(accId)"
					/>
				} @empty {
					<app-empty msg="No Accounts Found" />
				}
			} @else {
				<app-empty msg="No Accounts">
					<app-button (onClick)="newAccountForm()">
						Create new Account
					</app-button>
				</app-empty>
			}
		</section>

		<section class="col-span-2 flex flex-col gap-3">
			@if (supabase.categoriesIds().length > 0) {
				<div class="flex justify-between">
					<h1 class="pl-2 border-l-3 border-cta base-rounded">Categories</h1>
					<app-button (onClick)="newCategoryForm()" p="p-1">
						<svg lucidePlus class="w-6 h-6" strokeWidth="3"></svg>
					</app-button>
				</div>

				@for (catId of supabase.categoriesIds(); track catId) {
					<app-vault-category
						[category]="supabase.categories()[catId]"
						(onClick)="viewCategoryForm(catId)"
					/>
				}
			} @else {
				<app-empty msg="No Categories">
					<app-button (onClick)="newCategoryForm()">
						Create new Category
					</app-button>
				</app-empty>
			}
		</section>
	</div>
}
